<div class="d-flex p-2 flex-column justify-content-center align-items-center">
  <div class="card w-25 p-3 ms-3 text-start">
    <div class="card-body">
      <h5 class="card-title">Analista de Sistemas</h5>
      <span class="badge text-bg-primary me-2">LGBTQIA+</span>
      <span class="badge text-bg-secondary me-2">Indígena</span>
      <span class="badge text-bg-success me-2">40 Anos(+)</span>
      <span class="badge text-bg-danger me-2">Baixa Renda</span>
      <span class="badge text-bg-warning me-2">PCD</span>
      <span class="badge text-bg-info me-2 ">Etnia</span>
      <p class="card-text mt-2">Estamos em busca de um Analista de Sistemas dedicado e orientado para soluções para integrar
        nossa equipe de TI. O candidato selecionado será responsável por analisar, projetar e coordenar a implementação
        de sistemas em consonância com os objetivos e necessidades da organização.</p>
      <a href="#" class="btn btn-warning text-end">Inscrever-se</a>
    </div>
  </div>
</div>
