<div class="d-flex p-2 flex-column justify-content-center align-items-center">
  <form class="main-form ff-inter d-flex p-2 flex-column justify-content-center align-items-center">
    <div class="main-content">
      <div class="mb-3">
        <label for="nameCadidate" class="form-label">Nome</label>
        <input type="text" class="form-control input-custom" name="name" id="nameCadidate" aria-describedby="nameCadidate" [(ngModel)]="name">
      </div>
      <div class="mb-3">
        <label for="cpfCadidate" class="form-label">CPF</label>
        <input type="text" name="cpf" class="form-control input-custom" id="cpfCadidate"  [(ngModel)]="cpf">
      </div>
      <div class="mb-3">
        <label for="emailCadidate" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control input-custom" id="emailCadidate"  [(ngModel)]="email">
      </div>
      <div class="mb-3">
        <label for="phoneCadidate" class="form-label">Celular</label>
        <input type="text" name="mobileNumber" class="form-control input-custom" id="phoneCadidate"  [(ngModel)]="phone">
      </div>
      <div class="mb-3">
        <label for="passwordCadidate" class="form-label">Senha</label>
        <input type="text" class="form-control input-custom" id="passwordCadidate">
      </div>
      <div class="mb-3">
        <label for="confirmPasswordCadidate" class="form-label">Confirmar Senha</label>
        <input type="text" name="password" class="form-control input-custom" id="confirmPasswordCadidate"  [(ngModel)]="password">
      </div>
      <div class="text-center">
        <button type="submit" (click)="goToPerson()" class="btn next-button">Próximo</button>
      </div>
    </div>
  </form>
</div>
