.main-form {
  width: 70vh;
  max-width: 502px;
  height: auto;
  flex-shrink: 0;
  border-radius: 80px;
  background: #FFF;
  margin: auto;
  padding: 30px;
}

.label {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 18%;
}

.input {
  display: block;
  width: 324px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #D9D9D9;
  margin-bottom: 10px;
  margin-left: 18%;
}

.next-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 80px;
  background: #FFEA29;
  margin-left: 32%;
  margin-top: 24px;
}
