<form class="main-form ff-inter">
  <label for="name" class="label">Nome</label>
    <input
      type="textarea"
      class="input"
      id="name"
      name="name">
  <!-- Teste -->
  <label for="password" class="label" >Senha</label>
    <input
      type="textarea"
      class="input"
      id="password"
      name="password">

  <label for="last-name" class="label">Sobrenome</label>
    <input
      type="textarea"
      class="input"
      id="last-name"
      name="last-name">

  <label for="cpf" class="label">CPF</label>
    <input
      type="textarea"
      class="input"
      id="cpf"
      name="cpf">

  <label for="birth" class="label">Data de nascimento</label>
    <input
      type="textarea"
      class="input"
      id="birth"
      name="birth">

  <label for="phone" class="label">Telefone</label>
    <input
      type="textarea"
      class="input"
      id="phone"
      name="phone">

  <button class="next-button">Próximo</button>
</form>
