<p class="fs-1 text-start text-light fw-bold ms-3">VAGAS</p>
  <!-- Seção de Filtros -->
  <div class="btn-group ms-3 mt-3">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
        Selecionar grupo(s) minoritários(s)
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>LGBTQIA+</button>
        <button ngbDropdownItem>Etnia</button>
        <button ngbDropdownItem>Povos Originários</button>
        <button ngbDropdownItem>PCD</button>
        <button ngbDropdownItem>Baixa Renda</button>
        <button ngbDropdownItem>40 Anos(+)</button>
      </div>
    </div>
  </div>
  <div class="btn-group ms-3 mt-3">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
        Selecionar área de atuação
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Administração, negócios e serviços</button>
        <button ngbDropdownItem>Artes e Design</button>
        <button ngbDropdownItem>Ciências Biológicas e da Terra</button>
        <button ngbDropdownItem>Ciências Exatas e Informática</button>
        <button ngbDropdownItem>Ciências Sociais e Humanas</button>
        <button ngbDropdownItem>Comunicação e Informação</button>
        <button ngbDropdownItem>Engenharia e Produção</button>
        <button ngbDropdownItem>Saúde e Bem-Estar</button>
      </div>
    </div>
  </div>
  <div class="btn-group ms-3 mt-3 me-3 position-absolute end-0">
    <button type="button" class="btn btn-light"><i class="bi bi-funnel-fill"></i></button>
  </div>
  <!-- Fim Seção de Filtros -->

  <!-- Seção Cards de Vagas -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
    <app-job-card></app-job-card>
  </div>





