<div class="d-flex p-2 flex-column justify-content-center align-items-center">
  <form class="main-form ff-inter d-flex p-2 flex-column justify-content-center align-items-center">
    <div class="main-content">
      <div class="mb-3">
        <p>Inscreva-se para a vaga de</p>
      </div>
      <div class="mb-3">
        <p>Faça uploado de seu currículo</p>
      </div>
      <div class="mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg>
        <small class="text-body-secondary text-file">DefaultCurriculoNameFile.pdf</small>
      </div>
      <div class="mb-3">
        <label for="EmailCadidate" class="form-label">E-mail</label>
        <input type="text" class="form-control input-custom" id="EmailCadidate" aria-describedby="EmailCadidate">
      </div>
      <div class="mb-3">
        <label for="linkedinCadidate" class="form-label">Linkedin</label>
        <input type="text" class="form-control input-custom" id="linkedinCadidate">
      </div>
      <div class="mb-3">
        <label for="salaryCadidate" class="form-label">Pretenção salarial</label>
        <input type="text" class="form-control input-custom" id="salaryCadidate">
      </div>
      <div class="mb-3">
        <label for="salaryCadidate" class="form-label">Descreva sua experiência profissional</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Descreva sua experiência profissional" id="floatingTextarea2" style="height: 100px"></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn next-button">Inscrever-se</button>
      </div>
    </div>
  </form>
</div>
