<div class="d-flex p-2 flex-column justify-content-center align-items-center">
  <form class="main-form ff-inter d-flex p-2 flex-column justify-content-center align-items-center">
    <div class="mb-3 text-center">
      <h4 class="title-text">Inscrição feita com sucesso!</h4>
    </div>
    <div class="main-content">
      <div class="mb-3">
        <p class="thanks-text">Agradecemos por ter se inscrito em nossa vaga, agora é só aguardar o contato do nosso recrutador para receber seu feedback via email.</p>
      </div>
    </div>
    <div class="text-center icon-success">
      <img src="assets/imagens/success.gif" alt="GIF Animado" class="img-fluid">
    </div>
    <div class="text-center">
      <button type="submit" class="btn next-button">Ok</button>
    </div>
  </form>
</div>
