
.display-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form {
  padding-bottom: 50%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  height: 100%;
}

.input-style{
  margin-bottom: 30%;
}

.main-content{
  margin-bottom: 20%;
  margin-top: 20%;
}

.title {
  margin-bottom: 50px;
}

.input-custom {
  border: 1px solid transparent;
  border-radius: 20px;
  background: #D9D9D9;
}

.next-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  border-radius: 80px;
  background: #FFEA29;
  margin-top: 24px;
  border: 1px solid transparent;
}
