.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; /* Cor de fundo para o conteúdo */
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Estilos do componente admin-busca */
app-admin-busca {
 display: inline;
}
