 <div class = "d-flex align-items-start">
  <app-admin-busca></app-admin-busca>
  <div class="d-flex flex-column mb-3">
    <h1 class="">Bem vindo, </h1>
    <p class="marginLeft">Busque as vagas</p>

    <div class="form-floating mb-3">
      <input type="search" class="form-control marginLeft" id="floatingInputDisabled" placeholder="ID ou Nome da Vaga">
      <label for="floatingInputDisabled" class="marginLeft">ID ou Nome da vaga</label>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="boardCSS boardUm">
        <h3>Função</h3>
        <ul class="list-group">
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>

    <div class="boardCSS  boardDois">
      <h3>Grupo Minoritário</h3>

      <ul class="list-group">
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>

    <div class="boardCSS boardTres">
      <h3>Mais Recente</h3>

      <ul class="list-group">
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
</div>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn ">Próximo</button>
</div>

</div>
