h1{
color: #FFFFFF;
font-size: 2em;
margin-left: 1em;
width: 6em;
margin-top: 1em;
}

p{
  color: gray;
}

h3{
  text-align: center;
  font-size: 15px;
  padding: 10px;

}

button{
  margin-top: 45em;
  margin-right: 1em;
  width: 100px;
  color: #000000;
  background-color: #FFFF00;
  padding: 10px;
}

.marginLeft{
  margin-left: 3em;
}


.boardCSS{
  background-color: #FFFFFF;
  margin-right: 3em;
  margin-top: 15em;
  width: 17em;
  height: 400px;
  border-radius: 5px;
}




