<div class="d-flex align-items-start">
  <app-admin-busca></app-admin-busca>
  <div class="d-flex flex-column mb-3">
    <h1 class="">Cadastro de Vagas</h1>

    <h4 class="">Título</h4>
    <div class="form-floating mb-3">
      <input type="text" class="form-control marginLeft titulo" id="titulo" [(ngModel)]="titulo" placeholder="Insira o Título">
      <label for="titulo" class="marginLeft titulo">Título</label>
    </div>

    <h4 class="">Informe os públicos-alvo</h4>
    <div>
      <input class="form-check-input marginLeft" type="checkbox" id="etnicoRacialCheckbox" [(ngModel)]="publicoAlvo.etnicoRacial">
      <label class="form-check-label whiteLabel" for="etnicoRacialCheckbox">
        Étnico Racial
      </label>

      <input class="form-check-input marginLeft" type="checkbox" id="povosOriginariosCheckbox" [(ngModel)]="publicoAlvo.povosOriginarios">
      <label class="form-check-label whiteLabel" for="povosOriginariosCheckbox">
        Povos Originários
      </label>

      <input class="form-check-input marginLeft" type="checkbox" id="lgbtqiaCheckbox" [(ngModel)]="publicoAlvo.lgbtqia">
      <label class="form-check-label whiteLabel" for="lgbtqiaCheckbox">
        LGBTQIA+
      </label>

      <input class="form-check-input marginLeft" type="checkbox" id="pessoasComDeficienciaCheckbox" [(ngModel)]="publicoAlvo.pessoasComDeficiencia">
      <label class="form-check-label whiteLabel" for="pessoasComDeficienciaCheckbox">
        Pessoas com Deficiência
      </label>

      <input class="form-check-input marginLeft" type="checkbox" id="faixaEtariaCheckbox" [(ngModel)]="publicoAlvo.faixaEtaria">
      <label class="form-check-label whiteLabel" for="faixaEtariaCheckbox">
        Faixa etária (40+)
      </label>

      <input class="form-check-input marginLeft" type="checkbox" id="rendaFamiliarCheckbox" [(ngModel)]="publicoAlvo.rendaFamiliar">
      <label class="form-check-label whiteLabel" for="rendaFamiliarCheckbox">
        Renda Familiar
      </label>
    </div>

    <h4 class="">Descrição da vaga</h4>
    <div class="form-floating mb-3">
      <textarea class="form-control descricaoVaga marginLeft" id="descricaoVaga" [(ngModel)]="descricaoVaga" placeholder=" "></textarea>
      <label for="descricaoVaga" class="marginLeft descricaoVaga">Descrição da Vaga</label>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn" (click)="goToProcessoSeletivo()">Prosseguir</button>
  </div>
</div>
