<div class = "d-flex align-items-start">
  <app-admin-busca></app-admin-busca>
  <div class="d-flex flex-column mb-3">
    <h1 class="">Cadastro de Vagas</h1>

    <h4 class="">Titulo</h4>
    <div class="form-floating mb-3">
      <input type="text" class="form-control marginLeft titulo" id="floatingInputDisabled" placeholder="Insira o Título">
      <label for="floatingInputDisabled" class="marginLeft titulo">Título</label>
    </div>

    <h4 class="">Informe os públicos-alvo</h4>
    <div class="form-floating mb-3">
      <input type="text" class="form-control marginLeft publicoAlvo" id="floatingInputDisabled" placeholder="Públicos-alvo">
      <label for="floatingInputDisabled" class="marginLeft publicoAlvo">Públicos-alvo</label>
    </div>

    <h4 class="">Descrição da vaga</h4>
    <div class="form-floating mb-3">
      <textarea class="form-control descricaoVaga marginLeft" id="floatingInputDisabled" placeholder=" "></textarea>
      <label for="floatingInputDisabled" class="marginLeft descricaoVaga">Descrição da Vaga</label>


    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <button  type="button" class="btn ">Cadastrar</button>
  </div>


</div>
