<form class="main-form ff-inter">
  <p class="text-start">Selecione as opções abaixo de acordo com você:</p>
  <div class="mb-3">
    <label for="etniaCadidate" class="form-label">Etnia</label>
    <select class="form-select select-custom" aria-label="Select Etnia">
      <option selected>Selecione</option>
      <option value="1">Pardo</option>
      <option value="2">Branco</option>
      <option value="3">Negro</option>
      <option value="4">Indígenas</option>
      <option value="5">Amarelos</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="lgbtqiaCadidate" class="form-label">LGBTQIA+</label>
    <select class="form-select select-custom" aria-label="Select LGBTQIA+">
      <option selected>Selecione</option>
      <option value="1">Sim</option>
      <option value="2">Não</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="pcdCadidate" class="form-label">PCD</label>
    <select class="form-select select-custom" aria-label="Select PCD">
      <option selected>Selecione</option>
      <option value="1">Sim</option>
      <option value="2">Não</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="familyIncomeCadidate" class="form-label">Renda Familiar média</label>
    <input type="text" class="form-control input-custom" id="familyIncomeCadidate">
  </div>
  <div class="text-center">
    <button type="submit" class="btn next-button">Cadastrar</button>
  </div>
</form>
