.display-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content{
  margin-bottom: 10%;
  margin-top: 10%;
}

.input-custom {
  border: 1px solid transparent;
  border-radius: 20px;
  background: #D9D9D9;
}

.next-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  border-radius: 80px;
  background: #FFEA29;
  margin-top: 24px;
  border: 1px solid transparent;
}

.text-file {
  margin-left: 2%;
  font-size: 12px;
}

.text-area-layout {
  font-size: 10px;
}
